{{ define "layouts/header.html" }}<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>go forum</title>
    <style>
        body { padding-bottom: 100px; }
        .level { display: flex; align-items: center; }
        .flex { flex: 1; }
        .mr-1 { margin-right: 2em; }
        [v-cloak] { display: none; }
    </style>
    <link rel="stylesheet" href="{{ .css }}">
</head>
<body>{{ end }}