{{define "thread/create.html"}}
{{template "layouts/header.html" .}}
{{template "layouts/nav.html" .}}
<div class="container">
<div class="row justify-content-center">
<div class="col-md-8 offset-md-2">
<div class="card">
    <div class="card-header">Create a New Thread</div>
<div class="card-body">
<form action="/t/store" method="POST">
{{.ginContext|csrf_field}}
{{/*<div class="form-group">*/}}
    {{/*<label for="channel_id">Choose a Channel:</label>*/}}
{{/*<select name = "channel_id" class="form-control" id="channel_id" placeholder="">*/}}
    {{/*<option value="">Choose a Channel</option>*/}}
    {{/*@foreach($channels as $channel)*/}}
        {{/*<option value="{{ $channel->id }}" {{ old('channel_id') == $channel->id ? 'selected' : '' }}>*/}}
{{/*{{ $channel->name }}*/}}
{{/*</option>*/}}
    {{/*@endforeach*/}}
{{/*</select>*/}}
{{/*</div>*/}}

<div class="form-group row">
    <label for="title" class="col-md-2 col-form-label text-md-right">Title:</label>
    <div class="col-md-8">
        <input type="text" name="title" class="form-control" id="title">
    </div>
</div>

<div class="form-group row">
    <label for="body" class="col-md-2 col-form-label text-md-right">Body:</label>
    <div class="col-md-8">
        <textarea  name = "body" class="form-control" id="body" rows="8"></textarea>
    </div>
</div>
    <div class="form-group row mb-0">
        <div class="col-md-8 offset-md-2">
            <button type="submit" class="btn btn-primary">发布</button>
        </div>
    </div>
    {{/*@if(count($errors))*/}}
{{/*<ul class="alert alert-danger">*/}}
    {{/*@foreach($errors->all() as $error)*/}}
{{/*<li>{{ $error }}</li>*/}}
    {{/*@endforeach*/}}
{{/*</ul>*/}}
    {{/*@endif*/}}
</form>

</div>
</div>
</div>
</div>
</div>
{{template "layouts/footer.html" .}}
{{ end }}