{{define "thread/index.html"}}
{{template "layouts/header.html" .}}
{{template "layouts/nav.html" .}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 offset-md-2">

        {{range .threads}}
            <div class="card">
                <div class="card-header">
                    <div class="level">
                        <h4 class="flex">
                            <a href="/profiles/{{.User.Name}}">{{.User.Name}}</a>

                            <a href="{{ .ThreadPath }}/{{.ID}}">{{ .Title }}</a>
                        </h4>
                        <a href="/">7</a>
                    </div>
                </div>

                <div class="card-body">
                {{ .Body }}
                </div>

            </div><br>
        {{end}}
        </div>
    </div>
</div>
{{template "layouts/footer.html" .}}
{{ end }}