{{define "thread/show.html"}}
{{template "layouts/header.html" .}}
{{template "layouts/nav.html" .}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <div class="level">
                        <span class="flex">
                            <a href="#">{{ .thread.User.Name }}</a>
                        {{ .thread.Title }}
                        </span>
                    {{if .ginContext|Check}}
                        <form action="/t/delete/{{.thread.ID}}" method="post">
                        {{.ginContext|csrf_field}}
                            <button class="btn btn-danger">DELETE</button>
                        </form>
                    {{end}}
                    </div>
                </div>

                <div class="card-body">{{ .thread.Body }}</div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 offset-md-2">
            {{ range .thread.Replies }}
                {{ template "thread/reply.html" .}}
            {{ end }}
        </div>
    </div>

<br>
{{if .ginContext | Check}}<div class="row justify-content-center">
<div class="col-md-8 offset-md-2">
        <form method="POST" action="/t/reply/{{.thread.ID}}">
        {{.ginContext|csrf_field}}
            <div class="form-group">
        <textarea name="body" rows="5" id="body" CLASS="form-control" PLACEHOLDER="Have something to say?"></textarea>
    </div>

    <button type="submit" class="btn btn-default">Post</button>

</form>

</div>
</div>

    {{else}}
<p class="text-center">Please <a href="/login">sign in</a> to participate in this discussion.</p>
    {{end}}

</div>
{{template "layouts/footer.html" .}}
{{ end }}